<?xml version='1.0' encoding='utf-8'?>
<widget id="com.coctails.app" version="1.0" versionCode="1" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Cocktails recipes </name>
    <description>
        App to show cocktails recipes
    </description>
    <author email="vzcdeveloper@gmail.com" href="https://mariovzc.github.io">
        Mario Vizcaino
    </author>
    <content src="index.html" />
    <preference name="fullscreen" value="false" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#005388" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" />
    <preference name="SplashScreen" value="splash" />
    <preference name="SplashScreenDelay" value="5000" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="SplashScreen" value="foo" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <icon src="icons/icon.png" />
    <platform name="android">
        <icon height="48" src="icons/android/48.png" width="48" />
        <icon height="72" src="icons/android/72.png" width="72" />
        <icon height="96" src="icons/android/96.png" width="96" />
        <icon height="144" src="icons/android/144.png" width="144" />
        <icon height="192" src="icons/android/192.png" width="192" />
        <icon height="512" src="icons/android/512.png" width="512" />
        <splash height="320" src="images/android/200x320.png" width="200" />
        <splash height="480" src="images/android/320x480.png" width="320" />
        <splash height="800" src="images/android/480x800.png" width="480" />
        <splash height="1280" src="images/android/720x1280.png" width="720" />
        <splash height="1600" src="images/android/960x1600.png" width="960" />
        <splash height="1920" src="images/android/1280x1920.png" width="1280" />
    </platform>
    <gap:splash src="splashscreen.png" />
    <gap:plugin name="com.phonegap.plugin.statusbar" version="1.1.0" />
    <feature name="http://api.phonegap.com/1.0/network" />
    <access origin="*" />
    <gap:plugin name="cordova-plugin-whitelist" source="npm" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <engine name="android" spec="^6.3.0" />
</widget>
